/* Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 4rem;
  box-shadow: 0 0 10px 0;
  height: 9.5vh;
}

header h1 {
  font-size: 1.7rem;
  font-weight: 800;
}

/* Dark Mode Button */
header button {
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
.icon-moon {
  padding: 0 0.3rem;
}

/* dark-mode */
.dark-mode header {
  border-bottom: 1px solid #666;
}
.dark-mode button {
  color: white;
}
