body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .wrapper {
    max-width: 100%;
    margin: 0 auto;
    background-color: hsl(0, 0%, 98%);
  }
  
  .skeleton {
    height: 450px;
    width: 350px;
  }
  
  .content-skeleton{
    padding: 1rem;
  }
  .skeleton-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
  /* main-container */
  /* .main-container {
    padding: 3rem 5rem;
  } */
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  .not-found {
    height: 75vh;
    width: 60vw;
    margin: auto;
    
  }
  .not-found > img {
    height: 100%;
    width: 100%;
  }
  .class2 {
    transform: translateX(-2000px);
    transition: 0.5s;
  }
  .class3 {
    transform: translateX(0);
    transition: 0.5s;
  }