.wrapper {
    padding:2rem 6rem;
    min-height: 90vh;
  }
button{
    border: none;
    border-radius: 4px;
    padding: 1rem 1rem 1rem 1rem;
    width: 200px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 1rem;
    outline: none;
}
  .country-details {
    margin-top: 7rem;
    display: flex;  
    gap:8rem;  
    height: 30rem;
    width: 100%;
  }
  .flag {
    /* width:45%; */
    height:100%;
  }
  .flag >img{
    height: 100%;
    width: 50rem;
  }
  /* .textData{
    flex: 1;
  } */
  .country-info {
    
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  
  .country-info h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: auto;
  }
  
  .detail-all{
    display: flex;
    justify-content: flex-start;
    gap:5rem;
  }
  .country-info p {
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  
  .country-info p span {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .border{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    max-width: 50rem;
  }
  .btn{
    border: none;
    border-radius: 4px;
    width: auto;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 1rem;
    outline: none;
  }
  
  .dark-mode .btn {
    background-color: #333;
    color: #fff;
  }
  
  .btn:hover {
    background-color: #e0e0e0;
  }
  
  .dark-mode .btn:hover {
    background-color: #666;
  }
  .dark-mode button{
    color:#fff;
    background-color: #666;
  } 
  
   