/* Filters Section */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.search-input-container {
  border: none;
  border-radius: 4px;
  padding:1rem 2rem 1rem 2rem;
  width: 30%;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  font-weight: 800;
  font-size: 1.5rem;
}
.search-icon {
  margin-right: 1rem;
}
.search-input {
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.filters select {
  border: none;
  border-radius: 4px;
  padding: 1rem 1rem 1rem 1rem;
  width: 200px;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 1rem;
  outline: none;
}

.filters input[type="text"] {
  flex: 1;
}

.filters button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 1rem 1rem 1rem 1rem;
  width: 200px;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 1rem;
  outline: none;
}
/* dark-mode   */
.dark-mode .search-input-container {
  color: white;
  background-color: #666;
}
.dark-mode .search-input-container input[type="text"] {
  outline: none;
  border: none;
  background: none;
}
.dark-mode .search-input::placeholder {
  color: white;
  background-color: #666;
  border: none;
}
.dark-mode .filters select {
  background-color: #666;
  color: #fff;
}

.dark-mode .filters button {
  background-color: #666;
  color: #fff;
}
