/* Country Cards */
.country-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: flex-start;
  }
  
  .card {
      margin: 1.5rem 1.2rem 2rem 0;
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
      height: 450px;
      width: 350px; 
  }
  
  .card img {
    width: 100%;
    height: 50%;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h2 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 900;
  }
  
  .card-content ul {
    padding-left: 0;
  }
  .card-content span {
      font-weight: 700;
      font-size: 1.1rem;
  }
  
  .card-content ul li {
    margin-bottom: 0.3rem;
    list-style: none ;
    font-size: 1.1rem;
  }
  
/* Dark Mode */
.dark-mode .card {
    background-color: #444;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  }
  
  .dark-mode .card-content {
    color: #fff;
  }
  